
h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 100px;
}


select {
    font-size: 1rem;
    cursor: pointer;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

